:root {
  --black-ink: #131b23;
  --platinum: #e9f1f7;
  --alabaster-grey: #d9d9d9;
  --turquoise: #44dad0;
  --blue-spruce: #136f63;
}

/* ===== FONTS ===== */
@font-face {
  font-family: "Jomolhari";
  src: url(../fonts/Jomolhari-Regular.ttf);
}

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jomolhari", serif;
}

body {
  background-color: var(--alabaster-grey);
}

/* ===== TYPOGRAPHY ===== */
h1 {
  color: var(--platinum);
  font-size: 48px;
}

h2 {
  font-size: 52px;
}

h3 {
  transition: 0.5s;
  font-size: 24px;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--black-ink);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: var(--platinum);
}

.navbar h3 {
  color: var(--platinum);
  opacity: 0.2;
}

.navbar button {
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 15px;
  background-color: var(--blue-spruce);
  transition: 0.5s;
  cursor: pointer;
}

.navbar button:hover {
  background-color: var(--turquoise);
}

.options {
  display: flex;
  gap: 30px;
}

.options a {
  color: var(--platinum);
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}

.options h3:hover {
  opacity: 1;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--platinum);
  cursor: pointer;
}

/* ===== INTRODUCTION ===== */
.introduction {
  color: var(--black-ink);
  margin: 8% 0 12% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 80px;
}

.introduction u {
  color: var(--blue-spruce);
  transition: 0.5s;
}

.introduction u:hover {
  color: var(--turquoise);
}

.pink {
  color: var(--black-ink);
  transition: 0.5s;
}

.pink:hover {
  color: rgb(233, 83, 213);
}

.introduction img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border-top: 8px solid var(--blue-spruce);
  border-bottom: 8px solid var(--blue-spruce);
  border-left: 8px solid var(--turquoise);
  border-right: 8px solid var(--turquoise);
  transition: 1s;
  transform: scale(1);
}

.introduction img:hover {
  border-top: 8px solid var(--turquoise);
  border-bottom: 8px solid var(--turquoise);
  border-left: 8px solid var(--blue-spruce);
  border-right: 8px solid var(--blue-spruce);
  transform: scale(1.25);
  box-shadow: 0 0 100px var(--turquoise);
}

.list {
  margin-top: 20px;
  margin-left: 10%;
  font-size: 24px;
}

/* ===== DETAILS SECTION ===== */
.details {
  background-color: var(--black-ink);
  height: 567px;
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ===== WAVES ===== */
.wave-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: var(--alabaster-grey);
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background: url("../imgs/wave.png");
  background-size: 1000px 100px;
}

.wave1 {
  animation: animate 8s linear infinite;
  opacity: 1;
}

.wave2 {
  animation: animate 12s linear infinite reverse;
  opacity: 0.5;
}

.bottom-wave {
  transform: rotate(180deg);
}

.bottom-wave .wave1 {
  animation: animate 8s linear infinite reverse;
}

.bottom-wave .wave2 {
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* ===== DETAILS SECTION ===== */

.details {
  padding: 0 8% 0 8%;
  color: var(--platinum);
  display: flex;
  gap: 250px;
}

.details h2 {
  font-size: 36px;
  text-align: justify;
  margin-top: 50px;
}

.details p {
  font-size: 24px;
  text-align: justify;
  margin-top: 20px;
}

.logos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 4% 0 0 0;
}
.logos img:hover {
  cursor: pointer;
}

/* ===== SKILLS SECTION ===== */

.skills {
  color: var(--platinum);
  border-radius: 20px;
  margin: 12% 12% 0 12%;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30%;
  background-color: var(--blue-spruce);
}

.skills h2 {
  font-size: 36px;
  text-align: center;
}

.logos h3 {
  font-size: 32px;
  text-align: center;
}

.logos2 {
  display: flex;
}



/* ===== RESPONSIVE ===== */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    z-index: 900;
    position: relative;
  }

  .navbar h1 {
    font-size: 24px;
  }

  .navbar h3 {
    opacity: 0.7;
  }

  .navbar button {
    margin-left: auto;
    margin-right: auto;
  }

  .options {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--black-ink);
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
    padding: 20px 0;
    z-index: 1000;
  }

  .options.active {
    display: flex;
    margin-bottom: auto;
  }

  .introduction {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .introduction h2 {
    font-size: 32px;
  }

  .introduction h3 {
    font-size: 18px;
  }

  .introduction li {
    padding: 0 20px;
    text-align: justify;
    font-size: 20px;
  }

  .introduction img {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    transform: scale(1.05);
    
  }

  .details h2{
    font-size: 32px;
  }
  .details p{
    font-size: 16px;
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 0 40px 0;
  }

}
