/* ===== CSS VARIABLES ===== */
:root {
  --black-ink: #131b23;
  --platinum: #e9f1f7;
  --alabaster-grey: #d9d9d9;
  --turquoise: #44dad0;
  --blue-spruce: #136f63;
}

/* ===== FONTS ===== */
@font-face {
  font-family: "Jomolhari";
  src: url(../fonts/Jomolhari-Regular.ttf);
}

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jomolhari", serif;
}

body {
  background-color: var(--alabaster-grey);
  overflow-x: hidden;
}

/* ===== TYPOGRAPHY ===== */
h1 {
  color: var(--platinum);
  font-size: 48px;
}

h2 {
  font-size: 52px;
}

h3 {
  transition: 0.5s;
  font-size: 24px;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  padding: 20px 40px;
  background-color: var(--black-ink);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: var(--platinum);
}

.navbar h3 {
  color: var(--platinum);
  opacity: 0.2;
}

.navbar button {
  width: 128px;
  height: 48px;
  border: none;
  border-radius: 15px;
  background-color: var(--blue-spruce);
  transition: 0.5s;
  cursor: pointer;
}

.navbar button:hover {
  background-color: var(--turquoise);
}

.options {
  display: flex;
  gap: 30px;
}

.options a {
  color: var(--platinum);
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s;
}

.options h3:hover {
  opacity: 1;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--platinum);
  cursor: pointer;
}

/* ===== INTRODUCTION ===== */
.introduction {
  margin: 5% 0 5% 0;
  color: var(--black-ink);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 80px;
}

.introduction u {
  color: var(--blue-spruce);
  transition: 0.5s;
}

.introduction u:hover {
  color: var(--turquoise);
}

.introduction img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
  border-top: 12px solid var(--blue-spruce);
  border-bottom: 12px solid var(--blue-spruce);
  border-left: 12px solid var(--turquoise);
  border-right: 12px solid var(--turquoise);
  transition: 1s;
  transform: scale(1);
}

.introduction img:hover {
  border-top: 20px solid var(--turquoise);
  border-bottom: 20px solid var(--turquoise);
  border-left: 20px solid var(--blue-spruce);
  border-right: 20px solid var(--blue-spruce);
  transform: scale(1.25);
  box-shadow: 0 0 100px var(--turquoise);
}

.list {
  margin-top: 20px;
  margin-left: 0;
  padding: 0 20px;
  font-size: 24px;
}

.pink {
  color: var(--black-ink);
  transition: 0.5s;
}

.pink:hover {
  color: rgb(233, 83, 213);
}

/* ===== DETAILS SECTION ===== */
.details {
  background-color: var(--black-ink);
  padding: 0 8%;
  color: var(--platinum);
  display: flex;
  gap: 40px;
  min-height: 567px;
  padding: 60px 8%;
  position: relative;
  overflow: hidden;
}

.details h2 {
  font-size: 36px;
  text-align: justify;
  margin-top: 50px;
}

.details a {
  color: var(--blue-spruce);
  transition: 0.5s;
}

.details a:hover {
  color: var(--turquoise);
}

.details p {
  font-size: 30px;
  text-align: justify;
  padding: 20px 8% 0 0;
}

/* ===== SKILLS SECTION ===== */
.skills {
  color: var(--platinum);
  border-radius: 54px;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 30%;
  background-color: var(--blue-spruce);
  padding: 24px;
}

.skills h2 {
  font-size: 36px;
  text-align: center;
}

.skills h3 {
  margin-bottom: 4px;
  font-size: 32px;
  color: var(--alabaster-grey);
}

.skills h4 {
  margin-top: 0;
  font-size: 20px;
  color: var(--turquoise);
}

.skillText {
  padding: 24px 0 0 0;
}

.skillText h3,
.skillText h4 {
  margin: 0;
  line-height: 1.1;
}

/* ===== LOGOS ===== */
.logos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 4% 0 0 0;
}

.logos img:hover {
  cursor: pointer;
}

.logos h3 {
  font-size: 32px;
  text-align: center;
}

.logos2 {
  padding: 20px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.backgroundImg {
  background-color: var(--platinum);
  width: 144px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27%;
}

/* ===== SECTIONS ===== */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* ===== WAVES ===== */
.wave-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: var(--alabaster-grey);
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background: url("../imgs/wave.png");
  background-size: 1000px 100px;
}

.wave1 {
  animation: animate 8s linear infinite;
  opacity: 1;
}

.wave2 {
  animation: animate 12s linear infinite reverse;
  opacity: 0.5;
}

.bottom-wave {
  transform: rotate(180deg);
}

.bottom-wave .wave1 {
  animation: animate 8s linear infinite reverse;
}

.bottom-wave .wave2 {
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* ===== SPIKES ===== */

.spike-container {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin: 0 0 -1px 0;
}

.spike {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100px;
  background: url("../imgs/spike.png");
  background-size: 250px 100px;
}

.spike1 {
  animation: animate 16s linear infinite;
  opacity: 1;
}

.spike2 {
  animation: animate 12s linear infinite reverse;
  opacity: 0.5;
}

.bottom-spike {
  margin: -1px 0 0 0;
  transform: rotate(180deg);
}

.bottom-spike .spike1 {
  animation: animate 16s linear infinite reverse;
}

.bottom-spike .spike2 {
  animation: animate 12s linear infinite;
}

/* ===== CONTACT ===== */

.contact {
  width: 100%;
  min-height: 500px;
  padding: 60px 20px;
  background-color: var(--black-ink);
  color: var(--platinum);
}

.contact h2 {
  padding: 2% 4% 2% 0;
  font-size: 48px;
  text-align: end;
}
.contact-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-text h3 {
  font-size: 36px;
  margin-top: 10px;
}

.contact-text ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.contact-text li {
  transition: 0.5s;
  font-size: 20px;
  color: var(--blue-spruce);
  margin: 0 0 0 24px;
}
.contact-text li:hover {
  transition: 0.5s;
  color: var(--turquoise);
}
.contact-content p {
  font-size: 24px;
}
.img-container {
  position: relative;
  width: 350px;
  height: 350px;
}

.contactImages {
  display: flex;
  justify-content: left;
}

.contactImages img {
  max-width: 100%;
  height: auto;
}
.img-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s ease; /* aqui funciona */
}

.img2 {
  opacity: 0;
}

.img-container:hover .img2 {
  opacity: 1;
}

.img-container:hover .img1 {
  opacity: 0;
}

/* ===== PROJECTS SECTION ===== */

.projects {
  display: flex;
  justify-content: center;
  gap: 4%;
  padding: 80px 20px;
  flex-wrap: wrap;
}

.projects .card {
  border-radius: 40px;
  background-color: var(--black-ink);
  width: 100%;
  max-width: 420px;
  height: auto;
}

.cardDisplay {
  background-color: var(--alabaster-grey);
  width: 80%;
  max-width: 336px;
  height: 192px;
  border-radius: 50px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h3 {
  padding: 0 0px 0 10%;
  color: var(--platinum);
  font-size: 32px;
}

.card p {
  font-size: 20px;
  padding: 0 10% 0 10%;
  text-align: justify;
  color: var(--alabaster-grey);
}

.card button {
  transition: 0.5s;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  color: var(--platinum);
  width: 181px;
  height: 47px;
  background-color: var(--blue-spruce);
  margin: 5% 30% 5% 30%;
  cursor: pointer;
}

.card button:hover {
  transition: 0.5s;
  color: var(--alabaster-grey);
  background-color: var(--turquoise);
}

/* ===== RESPONSIVE ===== */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar {
    padding: 20px;
    z-index: 900;
    position: relative;
  }

  .navbar h1 {
    font-size: 24px;
  }

  .navbar h3 {
    opacity: 0.7;
  }

  .navbar button {
    margin-left: auto;
    margin-right: auto;
  }

  .options {
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--black-ink);
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
    padding: 20px 0;
    z-index: 1000;
  }

  .options.active {
    display: flex;
  }

  /* ===== INTRO ===== */
  .introduction {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px 16px; /* reduz lateral pra evitar overflow */
  }

  .introduction h2 {
    font-size: 32px;
  }

  .introduction h3 {
    font-size: 18px;
  }

  .introduction li {
    padding: 0 10px;
    text-align: justify;
    font-size: 20px;
  }

  .introduction img {
    margin-top: 40px;
    width: 220px;
    height: 220px;
    transform: scale(1.05);
  }

  .introduction img:hover {
    transform: scale(1.05); /* remove zoom exagerado no mobile */
  }

  /* ===== DETAILS ===== */
  .details {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 16px; /* evita estouro lateral */
  }

  .details h2 {
    font-size: 28px;
  }

  .details p {
    font-size: 16px;
    padding: 0;
  }

  /* ===== SKILLS ===== */
  .logos {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .skills {
    margin: 40px 16px;
    width: auto;
    height: auto;
  }
  .skillCard {
    display: flex;
    flex-direction: column; /* Empilha ícone, h3 e h4 */
    align-items: center; /* Centraliza tudo dentro do card */
    text-align: center; /* Garante centralização do texto */
  }

  .logos2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os cards horizontalmente */
    justify-content: center;
    gap: 32px; /* Espaço maior entre os blocos (HTML, CSS, etc) */
    width: 100%;
    max-width: 400px; /* Evita que o container fique largo demais */
  }

.backgroundImg {
  width: 120px;           /* Tamanho fixo controlado */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;     /* Espaço entre imagem e o título */
}

  /* ===== CONTACT ===== */
  .contact {
    height: auto;
    padding: 40px 16px;
  }

  .contact h2 {
    padding: 40px 0 16px 0;
    text-align: center;
    font-size: 30px;
  }

  .contact-content {
    flex-direction: column;
    gap: 20px;
  }

  .contact-text h3 {
    font-size: 28px;
  }

  .contact-text li {
    font-size: 24px;
    color: var(--turquoise)
  }

  .contactImages {
    display: none;
  }

  .img-container {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  /* ===== PROJECTS ===== */
  .projects {
    padding: 40px 16px;
    gap: 20px;
  }

  .card {
    max-width: 100%;
  }

  .cardDisplay {
    width: 90%;
    height: auto;
  }

  .card button {
    margin: 20px auto;
    display: block;
  }
}
