
:root {
    --cor1: #520380;
    --cor2: #3a025b;
    --cor3: #220135;
    --cor4: #1a0129;
    --cor5: #11001C;
    --cor6: #A187B6;
}   
*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
}





body{
    background-color: var(--cor1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color: var(--cor4);
    height: 8vh;
    display: flex;
    justify-content: flex-end;
}
.navbar button{
    font-size: 80%;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor6); /* Cor do texto */
    margin: auto 40px auto 0; /* Margen automatica em cima e embaixo automatico, na direita um pegueno espaçãomento de na esquerda 0 */
    height: 4vh; /* Altura dos botões */
    width: 8vw; /* Largura */
    border: 0px; /* Tirar borda dos botões */
    border-radius: 10px;
    background-color: var(--cor1); /* Cor do fundo dos botões */
    text-align: center;
}
.navbar button:hover{
    height: 6vh; /* Altura dos botões */
    width: 10vw; /* Largura */
    font-size: 100%;
    cursor: pointer;
}

/* Ajustando imagem */
#foto-perfil{
    margin-top: 8vw;
    width: 28vw;
    border-radius: 100%;
    border: 0.5vw solid var(--cor6);
}
#foto-perfil:hover{
    filter: drop-shadow(0 0 2em var(--cor4));
    cursor: pointer;

}



.texto{
    font-family: Verdana;
    color: var(--cor6);
}

.descricao-sobre{
    margin-top: 10vw;
}
#sobre{
    column-gap: 0px;
    display: grid;
    grid-template-columns: 32vw 38vw;
    justify-content: center;
    margin-bottom: 10vw;
}


/* */

#interesses-profissionais{
    background-color: var(--cor4);
    height: 100vh;
    padding-top: 3vh; /* Substituindo o margin top do #texto-int*/
}

#texto-int{
    
    margin: 0vh 4vw 5vh 3vw;
    
    font-family: 'Open Sans';
    font-size: 200%;
    color: var(--cor1);
}

#grid-int{
    display: grid;
    grid-template-columns: repeat(3, 32vw);
    gap: 3vw;
    place-items: center; /* Centraliza */
}

.bloco-int{
    font-size: 150%;
    /* Toda essa parte para organizar a posição */
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;   
    /* */

    /* Tamanho*/
    height: 16vw;
    width: 17vw;

    /* Bordas*/
    border-radius: 15px;
    border: 0px;
    background-color: var(--cor1);
}

.bloco-int:hover {
    color: var(--cor1);
    background-color: var(--cor6);
}


/* Titulo profissional */
#titulo-prof{
    font-family: 'Open Sans';
    font-style: italic;
    background-color: var(--cor6);
    height: 16vh;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 32vw;
    color: var(--cor1);
}


/* Rodapé */

footer {
    padding: 4vh 8vw 2vh 8vw;
    font-size: 125%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cor6);
    background-color: var(--cor2);
    margin-top: auto;
}

/* Objetivo: fazer 2 quadrados reativos ao mouse */
#reativo{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center; /* Centraliza */
}

.quad-reativo{
    /* Toda essa parte para organizar a posição */
    display: flex;
    flex-direction: column; /* opcional, mas deixa tudo em coluna */
    justify-content: center; /* centraliza na vertical */
    align-items: center;     /* centraliza na horizontal */
    text-align: center;

    position: relative;

    
    /* Tamanho*/
    height: 48vh;
    width: 100%;

    /* Bordas*/
    background-color: var(--cor6);
    color: var(--cor2);
}
#experiencia{
    border-top: 5px solid var(--cor1);
    border-bottom: 5px solid var(--cor1);
}
#informacoes{
    border-top: 5px solid var(--cor2);
    border-bottom: 5px solid var(--cor2);
}

.quad-reativo h2{
    font-size: 500%;
}
.texto-reativo {
    opacity: 0;
    transition: 0.3s ease;

    position: absolute;
    top: 60%;             /* afasta do h2 */
    transform: translateY(-50%);
    
    text-align: center;
    max-width: 80%;
}

.quad-reativo:hover .texto-reativo {
    opacity: 1;
}
.quad-reativo:hover h2 {
    font-size: 200%;
    padding-bottom: 5%;
}